/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2rem;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar .nav-item .nav-metric {
  width: 45px;
}

.sidebar h3 {
  text-align: center;
  border-bottom: #eee 1px solid;
  padding-bottom: 12px;
}

.borderless {
  border: 0;
  margin-bottom: 0;
}

.border-under {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
/*
 * Dashboard
 */

 .pod {
     background: url("podtopview.png") no-repeat center center;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     height: 93.8vh;
     border: 1px solid #eee;
     margin-bottom: 0px;
     position: relative;
 }

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@keyframes fa-blink {
    0% { opacity: 1; }
    40% { opacity: .8; }
    50% { opacity: 0; }
    60% { opacity: .8; }
    100% { opacity: 1; }
}

.fa-blink {
  -webkit-animation: fa-blink 1s linear infinite;
  -moz-animation: fa-blink 1s linear infinite;
  -ms-animation: fa-blink 1s linear infinite;
  -o-animation: fa-blink 1s linear infinite;
  animation: fa-blink 1s linear infinite;
}
