/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 1024px) {
    .row.content {
        height: auto;
    }
}
.pod {
    background: url("podtopview.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 93.8vh;
    margin-bottom: 0px;
}
.label {
    font-size: 12px;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: #222;
}
.analytics {
    color: #9d9d9d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}
.sidenav {
    padding: 20px;
    width: 250px;
    height: 325px;
    background: #000;
    background: -webkit-linear-gradient(to bottom, #000000, #434343);
    background: linear-gradient(to bottom, #000000, #434343);
}
.dropdown-menu {
    background: #222;
}
.dropdown-menu>li>a {
    color: #9d9d9d;
}
.navText {
    color: #9d9d9d;
}
